<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fed1b6">  <td>20/11/29 16:59:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.startApp()[pri:0, instance:testcases.LoginAndLogout@25af5db5]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@385337537</td>   <td></td> </tr>
<tr bgcolor="709393">  <td>20/11/29 16:59:21</td>   <td>10757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginAndLogout.loginAndLogout()[pri:0, instance:testcases.LoginAndLogout@25af5db5]">loginAndLogout</td> 
  <td>main@385337537</td>   <td></td> </tr>
<tr bgcolor="fed1b6">  <td>20/11/29 16:59:22</td>   <td>11698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.closeBrowser()[pri:0, instance:testcases.LoginAndLogout@25af5db5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@385337537</td>   <td></td> </tr>
</table>
